*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: black;
    color: goldenrod;
    align-items: center;
    height: 5rem;
}
.logo{
    margin-left: 3rem;
}
.navbar{
    display: flex;
    width: 40%;
}
.navbar ul{
    width: 70%;
    justify-content: space-between;
    display: flex;
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    color: goldenrod;
}

.content_txt{
    background: black;
    width: 100%;
    height: 35.6rem;
}
.h_txt{
    margin-left: 15rem;
    font-size: 2rem;
    color: white;
    padding-top: 5rem;
}
.form_12{
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.form_1{
    color: goldenrod;
}
.form_1 input{
    margin-bottom: 1rem;
    width: 160%;
    height: 2rem;
    outline: none;
    border: 1px solid hsl(43, 67%, 15%);
    background: transparent;
    padding-left: 1rem;
    color: hsl(0, 0%, 70%);
    border-radius: 0.3rem;
}
input[type=message]{
    height: 5rem;
}
.form_btn button{
    width: 6rem;
    height: 2rem;
    background: goldenrod;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}
.form_btn button:hover{
    color: white;
}

.txt_1{
    color: goldenrod;
    font-size: 1.3rem;
}
address{
    color: white;
    line-height: 2;
}