*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
}
.card_1{
    display: flex;
    background: hsl(0, 0%, 10%);
    width: 100%;
    height: 40.6rem;
    justify-content: center;
    align-items: center;
}
.card_2{
    width: 50%;
    height: 35rem;
    background: black;
    border-radius: 0.6rem;
}
.logo h2{
    color: goldenrod;
    font-size: 1.3rem;
    margin-top: 1.5rem;
    margin-left: 2rem;
}
.card_2_txt{
    margin-top: 4rem;
    width: 100%;
    text-align: center;
}
.card_2_txt h3{
    font-size: 2rem;
    color: white;
}
.card_2_txt p{
    font-size: 1.3rem;
    color: hsl(0, 0%, 70%);
}

.lab_inp{
    margin-left: 7rem;
    color: white;
}
.lab_inp input{
    width: 80%;
    height: 2rem;
    margin-bottom: 1rem;
    outline: none;
    border: 1px solid hsl(43, 67%, 15%);
    background: transparent;
    border-radius: 0.5rem;
    color: hsl(0, 0%, 70%);
    padding-left: 0.8rem;
}
.date_time{
    margin-left: 7rem;
    display: flex;
    color: white;
    width: 70%;
    gap: 11.5rem
}
.date input{
    height: 2rem;
    width: 130%;
    cursor: pointer;
    background: transparent;
    outline: none;
    border: 1px solid hsl(43, 67%, 15%);
    color: hsl(0, 0%, 70%);
    border-radius: 0.5rem;
    padding-left: 1rem;
}
.time input{
    height: 2rem;
    width: 130%;
    cursor: pointer;
    outline: none;
    background: transparent;
    border: 1px solid hsl(43, 67%, 15%);
    color: hsl(0, 0%, 70%);
    border-radius: 0.5rem;
    padding-left: 1rem;
}
input[type="date"]::-webkit-calendar-picker-indicator{
    background-color: white;
    cursor: pointer;
}
input[type="time"]::-webkit-calendar-picker-indicator{
    background-color: white;
    cursor: pointer;
}
.btn{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    margin-left: 2rem;
}
.btn button{
    height: 2rem;
    width: 20%;
    background: goldenrod;
    color: black;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}
.btn button:hover{
    color: white;
}